test/models/LWO/
test/models/LWS/
test/models/MD2/
test/models/IRRMesh/
test/models/IRR/
test/models/NFF/
test/models/MDL/
test/models/MS3D/
test/models/IFC/
test/models/HMP/
test/models/MD5/
test/models/DXF/
test/models/OBJ/
test/models/Collada/
test/models/COB/
test/models/BVH/
test/models/BLEND/
test/models/OFF/
test/models/CSM/
test/models/Ogre/
test/models/ASE/
test/models/PLY/
test/models/Q3D/
test/models/AC/
test/models/B3D/
test/models/3DS/
test/models/ReferenceImages/
test/models/RAW/
test/models/3D/
test/models-nonbsd/PK3/
test/models-nonbsd/Ogre/OgreSDK/
test/models-nonbsd/NFF/
test/models-nonbsd/MDL/
test/models-nonbsd/MD5/
test/models-nonbsd/MD2/
test/models-nonbsd/MD3/
test/models-nonbsd/OBJ/
test/models-nonbsd/LWO/
test/models/SMD/
test/models-nonbsd/LWS/
test/models-nonbsd/M3/
test/unit/
test/models-nonbsd/B3D/
test/models-nonbsd/BLEND/
test/models-nonbsd/ASE/
test/models-nonbsd/FBX/
test/models-nonbsd/3DS/
test/regression/
test/other/
test/models/WRL/
test/models/TER/
test/models/STL/
test/models/invalid/
test/models/XGL/
.vs/
Debug/SimpleOpenGL.ilk
Debug/SimpleOpenGL.pdb
SimpleOpenGL.sdf
SimpleOpenGL/Debug/
test/models-nonbsd/IRR/
test/models-nonbsd/3D/mar_rifle.source.txt
test/models-nonbsd/3D/mar_rifle.uc
test/models-nonbsd/3D/mar_rifle_a.3d
test/models-nonbsd/3D/mar_rifle_d.3d
test/models-nonbsd/DXF/rifle.dxf
test/models-nonbsd/DXF/rifle.source.txt
test/models-nonbsd/HMP/terrain_withtexture.hmp
test/models-nonbsd/IFC/linklist.txt
test/models-nonbsd/README.txt
SimpleOpenGL/assimp_log.txt
test/CMakeLists.txt
test/RunSingleUnitTestSuite.bat
test/RunUnitTestSuite.bat
test/models/SourceFiles/
Debug/SimpleOpenGL.exe
